img
  text-decoration: none
  max-width: 100%
a
  text-decoration: none
.container
  max-width: 1170px
  margin: auto
@media (max-width: 1200px)
  .container
    max-width: 960px
@media (max-width: 768px)
  .container
    width: 90%

